th {
  width: 19%;
  text-align: center;
}

td {
  padding-left: 2%;
  padding-right: 2%;
}

td.foto {
  width: 20%;
  padding-left: 3% !important;
  padding-right: 0% !important;
  vertical-align: middle !important;
  align-content: center !important;
}

.migdia {
  border-top: double;
}

table + table {
  margin-top: 2%;
}

td>a ,td:not(.hora) {
  font-weight: bold;
  color: black !important;
}

.hora {
  text-align: center;
  vertical-align: middle !important;
}

@media print {
  * { margin: 0 !important; padding: 0 !important; }

  .hora {
    font-size: 60%;
    text-align: center;
    vertical-align: middle !important;
  }

  td.foto {
    display: none;
  }

  table:not(#horaris) {
    border-collapse: collapse;
    border: 5px solid white;
    font-size: 60%;
    margin-left: 10%;
    font-weight: normal;
  }

  a[href]:after {
    content: none;
  }
}
