body {
/*
  max-width: 1400px;
*/
/*
  margin: 0px auto;
*/
}
.page-header {
  border-bottom: 0px;
  margin-top: 10px;
  color: #00506b;
}
#wrapper {
  position: absolute;
/*
  max-width: 1400px;
*/
}
.navbar-main {
  top: 5px;
  height: 70px;
  border: 1px solid #7E8FC4 !important;
  background: #73A4D9 !important;
  background: -moz-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90C2EE), color-stop(100%, #73A4D9)) !important;
  background: -webkit-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
  background: -o-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
  background: -ms-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
  background: linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90C2EE', endColorstr='#73A4D9', GradientType=0) !important;
  -moz-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
  -webkit-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
  box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
}
.navbar-brand {
  top: 30px;
}
.dropdown-center {
  position: absolute;
}
.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%;
}

.alert {
  margin: auto;
  position: absolute;
  top: 60;
  left: 30%;
  right: 30%;
}
.alert-error {
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

.Absolute-Center {
  margin: auto;
  position: relative;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}
.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
.logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 160px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.brand-text {
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  font-size: 200%;
  font-size: 2vw;

}
.nav-brand-text {
  margin: auto;
  margin-bottom: 0px;
  font-size: 4vw;
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  color: white;
  text-shadow: 3px 3px 0 #000, /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */ -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
