<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1 class="page-header">{{title}}</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="jumbotron" style="background-image: url(/css/img/isard.svg); background-size: 100%;">
        <div class="container for-about">
          <h1>Gestió Horaris</h1>
          <p>Escola del Treball</p>
          <div class="text-left" style="font-size:150%">
            <p>Funcions de Gestió d'Horaris:</p>
            <ul>
              <li>Consulta el teu horari.</li>
              <li>Consulta l'horari ...
                <ul>
                  <li>D'aules on dónes classe.</li>
                  <li>De professors del teu departament.</li>
                  <li>De grups de la teva especialitat.</li>
                </ul>
              </li>
              <li>Consulta la disponibilitat entre professors a l'opció <i>Combina horaris</i>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3" style="margin-top:10%">
      <div class="text-center" style="font-size:120%">
        <h3>Authors:</h3>
        <b>Alex Miranda Gonzalez</b><br> (amirandagon@gmail.com)
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block pagescript %} {% endblock %}
