<!-- extend base layout -->
{% extends "base.html" %} {% block css %}
<style>
  .pagebreak {
    page-break-before: always;
  }
</style>
{% endblock %} {% block content %}

<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3><i class="fa fa-calendar"></i> {{title}} <font style="text-transform: uppercase;">{{group}}</font> <!-- <small>Fotos a validar en el sistema</small></h3> -->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <!--
              <script>alert(window.location.href.split('/profes/')[1])</script>
  -->
          <select data-size="10" data-width="auto" class="selectpicker show-tick" data-live-search="true">
              <option value="">Selecciona profesor...</option>
              {%- for val in dropdown %}
              <option value="{{ val[0] }}" {% if ind in selected %}selected="selected"{% endif %}>{{ val[1] }}</option>
              {%- endfor %}
          </select>
          <!-- <a href="#" class="btn-print"><span style="color: #5499c7; "><i class="fa fa-print"></i> Imprimir</span></a> -->
          <!--
               <a href="/profes/orla/csv/alumnes/{{ group }}" class="btn-download"><span style="color: #5499c7; "><i class="fa fa-download"></i> CSV</span></a>
               <a href="/profes/orla/zip/alumnes/{{ group }}" class="btn-download"><span style="color: #5499c7; "><i class="fa fa-compress"></i> ZIP</span></a>
          -->

          <div id="" class="clearfix"></div>
        </div>
        <div class="x_content">
          <h2>{{title2}}</h2>
          <div id="llistaProf"></div>
          <table id="horariComb" class='table table-bordered' width="100%">
            <thead>
              <tr>
                <td></td>
                <th>Dilluns</th>
                <th>Dimarts</th>
                <th>Dimecres</th>
                <th>Dijous</th>
                <th>Divendres</th>
              </tr>
            </thead>
            {%- for i in range(12) %}
            {% if i == 6 %}
            <tr class="migdia">
            {% elif i == 3 or i == 9 %}
            <tr>
              <td colspan="6" style="height: 10px"></td>
            </tr>
            <tr>
            {% else %}
            <tr>
            {% endif %}
              <td class="hora">{{hores[i + 1].split('-')[0]}}<br>-<br>{{hores[i + 1].split('-')[1]}}</td>
              {%- for j in range(5) %}
              <td id="{{i + 1}}{{j + 1}}" class="success">
              </td>
              {%- endfor %}
            </tr>
            {%- endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- /#page-wrapper -->

{% endblock %} {% block pagescript %}
<script type="text/javascript" src="/horaris/js/combHoraris.js"></script>
{% endblock %}
