<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="jumbotron" style="background-size: 100%;margin-top: 10%">
        <div style="align-content: center" class="container for-about">
          <h1 style="">{{error_type}}</h1>
          <div class="text-left" style="font-size:150%">
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3" style="margin-top:10%">
      <div class="text-center" style="font-size:120%">
        <h3>Authors:</h3>
        <b>Alberto Larraz Dalmases</b><br> (alberto.larraz@gmail.com)
        <br>
        <b>Josep Maria Viñolas Auquer</b><br> (vinolasbcn@gmail.com)
        <br>
        <b>Alex Miranda Gonzalez</b><br> (amirandagon@gmail.com)
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block pagescript %} {% endblock %}
