<!-- extend base layout -->
{% extends "base.html" %} {% block css %}
<style>
  .pagebreak {
    page-break-before: always;
  }
</style>
{% endblock %} {% block content %}

<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3><i class="fa fa-calendar"></i> {{ header }}: {{g.user.full_name}} <font style="text-transform: uppercase;">{{group}}</font> <!-- <small>Fotos a validar en el sistema</small></h3> -->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn-print"><span style="color: #5499c7; "><i class="fa fa-print"></i> Imprimir</span></a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {% if horari %}
          <h2>{{ g.user.full_name }}</h2>
          <table id="horaris" class='table table-bordered' width="100%">
            <thead>
              <tr>
                <td></td>
                <th>Dilluns</th>
                <th>Dimarts</th>
                <th>Dimecres</th>
                <th>Dijous</th>
                <th>Divendres</th>
              </tr>
            </thead>
            {%- for hores in horari %}
              {%- for key,value in hores.items() %}
              {% if key.split('-')[0].strip() == "16:00" %}
              <tr class="migdia">
              {% elif key.split('-')[0].strip() == "11:15" or key.split('-')[0].strip() == "19:15" %}
              <tr>
                <td colspan="6" style="height: 10px"></td>
              </tr>
              <tr>
              {% else %}
              <tr>
              {% endif %}
                <td class="hora">{{key.split('-')[0]}}<br>-<br>{{key.split('-')[1]}}</td>
                {%- for info in value %}
                <td>
                  {%- for detalle in info %}
                  <table class="{{detalle.materia}}" style="width:100%; border-radius:10px;">
                    <tr>
                      <td class="change_color">
                      {% if detalle.nommateria %}
                        {{detalle.nommateria}} ({{detalle.materia}})
                      {% else %}
                        {{detalle.materia}}
                      {% endif %}</td>
                    {% if action == 'Grups' %}
                      <tr>
                        <td>{{detalle.profe}}</td>
                      </tr>
                      {% if detalle.aula %}
                      <tr>
                        <td>{{detalle.aula}}</td>
                      </tr>
                      {% endif %}
                    {% endif %}
                    {% if action == 'Profes' %}
                      <tr>
                        <td><a href="/horaris/profes/grups/{{ detalle.grup }}">{{detalle.grup}}</a></td>
                      </tr>
                      {% if detalle.aula %}
                      <tr>
                        <td><a href="/horaris/profes/aules/{{ detalle.aula }}">{{detalle.aula}}</a></td>
                      </tr>
                      {% endif %}
                    {% endif %}
                    </tr>
                  </table>
                  {%- endfor %}
                </td>
              {%- endfor %}
             </tr>
             {%- endfor %}
            {%- endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



<!-- /#page-wrapper -->

{% endblock %} {% block pagescript %}
<script>
  $('.btn-print').click(function() {
    var restorepage = $('body').html();
    var printcontent = $('.x_content').clone();
    $('body').empty().html(printcontent);
    window.print();
    $('body').html(restorepage);
  });
</script>
{% endblock %}
