<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Scheme app">
  <meta name="author" content="Josep Maria Viñolas">

  <!--
    <title>{{ title }}</title>
-->

  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
-->
  <!-- Styles -->
  <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.2.4/cropper.min.css">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/horari.css" rel="stylesheet"> {% block css %}{% endblock %}

</head>

<body>


  {% block content %} {% endblock %}

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Scripts -->
  <!--
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
-->
  <script src="vendors/jquery/dist/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.2.4/cropper.min.js"></script>
  <script src="js/scripts.js"></script>

  {% block pagescript %}{% endblock %}
</body>

</html>
