<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
-->

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <title>{{ title }} | Horaris IETB</title>

  <!-- Bootstrap -->
  <link href="/horaris/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/horaris/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
  <!-- Datatables -->
  <!--
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet">
-->
  <!-- PNotify -->
  <link href="/horaris/vendors/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/horaris/vendors/pnotify/dist/pnotify.buttons.css" media="all" rel="stylesheet" type="text/css" />
  <!-- Custom Theme Style -->
  <link href="/horaris/build/css/custom.css" rel="stylesheet">
  <link href="/horaris/css/horari.css" rel="stylesheet">
  <!-- Bootstrap select -->
  <link href="/horaris/bower_components/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet"> {% block css %}{% endblock %}
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          {% include 'sidebar.html' %}
          <!-- top navigation -->
          {% include 'header.html' %}
          <!-- /top navigation -->

          <!-- page content -->
          {% block content %} {% endblock %}
          <!-- /page content -->

          <!-- footer content -->
          {% include 'footer.html' %}
          <!-- /footer content -->
        </div>
      </div>


      <!-- jQuery -->
      <script src="/horaris/vendors/jquery/dist/jquery.js"></script>
      <!-- Bootstrap -->
      <script src="/horaris/vendors/bootstrap/dist/js/bootstrap.js"></script>
      <script src="/horaris/bower_components/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
      <!-- Datatables -->
      <script src="/horaris/vendors/datatables.net/js/jquery.dataTables.js"></script>
      <script src="/horaris/vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
      <!-- PNotify -->
      <script type="text/javascript" src="/horaris/vendors/pnotify/dist/pnotify.js"></script>
      <script type="text/javascript" src="/horaris/vendors/pnotify/dist/pnotify.confirm.js"></script>
      <script type="text/javascript" src="/horaris/vendors/pnotify/dist/pnotify.buttons.js"></script>

      <script src="/horaris/build/js/custom.js"></script>

      <script type="text/javascript" src="/horaris/js/generateColor.js">

      </script>

      {% block pagescript %}{% endblock %}
</body>

</html>
