<div class="navbar nav_title" style="border: 0;">
  <a href="/horaris/about" class="site_title">
                 <i class="fa fa-calendar"></i> <span>Horaris</span></a>
</div>
<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
      <img src="/horaris/static/img/fakeuser.png" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Benvingut/da,</span>
    <h2>{{ g.user.name }}</h2>
  </div>
</div>
<!-- /menu profile quick info -->
<br><br>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="/horaris">El meu horari</a></li>
      {% if g.user.role == 'admin' or g.user.role == 'profe' %}
      <li><a href="/horaris/profes/aules">Aules</a></li>
      <li><a href="/horaris/profes/professors">Professors</a></li>
      <li><a href="/horaris/profes/grups">Grups</a></li>
      <li><a href="/horaris/profes/espais_lliures">Combina Horaris</a></li>
      {% endif %}
    </ul>
    {% if g.user.role == 'admin' %} {% endif %}
  </div>
</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" href="#" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
</div>
<!-- /menu footer buttons -->

</div>
</div>
